@import url('https://fonts.googleapis.com/css2?family=Anta&family=Chakra+Petch&family=Exo+2&family=Oswald&family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}


body{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.btn{
    color: #fff;
    background-color: orange;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px 0px;
}

.money-img{
    width: 210px;
}
.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 20px;
    background: transparent;
    appearance: none;
}

.currency input{
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;

    
}

.output {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
    margin-right: 15px;
}

.swap{
    display: flex;
    align-items: center;
}

select:focus,input:focus,button:focus{
    outline: 0;
}
